<!--
  <mat-card class="example-card" appearance="outlined">
    <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{title}}</mat-card-title>
    <mat-card-title>{{ cani[0].nome }}</mat-card-title>
    <mat-card-subtitle>{{ cani[0].razza }}</mat-card-subtitle>
  </mat-card-header>
  <img
    mat-card-image
    src="https://material.angular.dev/assets/img/examples/shiba2.jpg"
    alt="Photo of a Shiba Inu"
  />
  <mat-card-content>
    <p>
      {{ cani[0].descrizione }}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button matButton [disabled]="isDisable">LIKE</button>
    <button mat-stroked-button (click)="hoCliccato('aaaa')">basic</button>
    <mat-form-field class="example-full-width">
      <mat-label>Favorite food</mat-label>
      <input matInput placeholder="Ex. Pizza" [(ngModel)]="title"/>
    </mat-form-field>
  </mat-card-actions>
</mat-card>
-->
<!-- @if (daVedere) {
  <div>
    <p>Sono visibile</p>

  </div>
} @else {
  <div>
    <p>NON Sono visibile</p>

  </div>
}
 -->

 <ng-template *ngIf="daVedere; then bloccoIf; else bloccoElse" #name></ng-template>
 <ng-template #bloccoIf>
  <div>
    <p>Sono visibile</p>

  </div>
 </ng-template>

<ng-template #bloccoElse>
  <div>
    <p>NON Sono visibile</p>

  </div>
 </ng-template>
